---
layout: layouts/home.njk
title: Kære Computer
eleventyNavigation:
  key: Home
  order: 1
  title: Kære Computer
---


{% set postslist = collections.posts | head %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

